@inherits BaseComponent
@page "/playlists"
@using Components.Modals;
@using IPTVRelay.Library.Components
@attribute [StreamRendering]

@rendermode InteractiveServer

@code {
    public class M3UView
    {
        public long Id;
        public long Count;
        public string? Uri;
        public string? Name;
    }

    private List<M3UView>? playlists;
    private Modal modal = default!;
}

<PageTitle>Playlists</PageTitle>

<h1>Playlists</h1>

<Loader IsLoading="IsLoading">
    @if (playlists != null)
    {
        <Button @onclick=Add Color="ButtonColor.Primary">Add</Button>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uri</th>
                    <th>Count</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in playlists)
                {
                    <tr>
                        <td style="white-space:nowrap">@p.Name</td>
                        <td style="width:100%">@p.Uri</td>
                        <td style="white-space:nowrap">@p.Count</td>
                        <td style="white-space:nowrap"><Button Color="ButtonColor.Primary" @onclick=@(()=>Edit(p.Id))>Edit</Button></td>
                        <td style="white-space:nowrap"><Button Color="ButtonColor.Secondary" @onclick=@(()=>Child(p.Id, p.Name))>Create child</Button></td>
                        <td style="white-space:nowrap"><Button Color="ButtonColor.Danger" @onclick=@(()=>Delete(p.Id))>Delete</Button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <Modal @ref="modal" IsScrollable="true" Size="ModalSize.Large" ShowCloseButton="false" HeaderCssClass="hidden" />
</Loader>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await Load();
            await InvokeAsync(StateHasChanged);
        }
    }
    protected async Task Load()
    {
        await SetLoading();
        playlists = await DB.M3U.OrderBy(m => m.Created).Select(m => new M3UView { Id = m.Id, Name = m.Name, Uri = m.Parent != null ? $"Parent: {m.Parent.Name}" : m.Uri, Count = m.Count }).AsNoTracking().ToListAsync();
        await SetLoaded();
    }

    protected async Task Add()
    {
        await modal.ShowAsync<AddPlaylistModal>("Add Playlist",
        parameters: new Dictionary<string, object> {
            { nameof(AddPlaylistModal.OnSave), EventCallback.Factory.Create<ModalEventArgs<M3U>>(this, Added) },
            { nameof(AddPlaylistModal.OnCancel), EventCallback.Factory.Create(this, async () => await modal.HideAsync()) }});
    }
    protected async Task Child(long playlistId, string name)
    {
        var file = Utility.M3U.GetFileInfo(Config, new M3U { Id = playlistId });
        var playlist = new M3U { ParentId = playlistId, Uri = $"file://{file.FullName.Replace(Path.DirectorySeparatorChar, '/')}", Name = $"{name} - Child" };
        await DB.M3U.AddAsync(playlist);
        await DB.SaveChangesAsync();

        if (playlist != null)
        {
            await modal.ShowAsync<AddPlaylistModal>("Add Playlist",
            parameters: new Dictionary<string, object> {
            { nameof(AddPlaylistModal.OnSave), EventCallback.Factory.Create<ModalEventArgs<M3U>>(this, Edited) },
            { nameof(AddPlaylistModal.OnCancel), EventCallback.Factory.Create(this, async ()=> await modal.HideAsync()) },
            { nameof(AddPlaylistModal.ModelId), playlist.Id }});
        }


    }
    protected async Task Delete(long playlistId)
    {
        var p = DB.M3U.Include(p => p.Filters).Where(p => p.Id == playlistId);
        DB.RemoveRange(p);
        await DB.SaveChangesAsync();
        await Load();
    }
    protected async Task Edit(long playlistId)
    {
        var playlist = await DB.M3U.FirstOrDefaultAsync(p => p.Id == playlistId);
        if (playlist != null)
        {
            await modal.ShowAsync<AddPlaylistModal>("Edit Playlist",
                parameters: new Dictionary<string, object> {
                { nameof(AddPlaylistModal.OnSave), EventCallback.Factory.Create<ModalEventArgs<M3U>>(this, Edited) },
                { nameof(AddPlaylistModal.OnCancel), EventCallback.Factory.Create(this, async ()=> await modal.HideAsync()) },
                { nameof(AddPlaylistModal.ModelId), playlist.Id }});

        }
    }

    public async void Added(ModalEventArgs<M3U> args)
    {        
        var playlist = args.Model;
        await modal.HideAsync();
        if (playlist != null)
        {
            await DB.AddAsync(playlist);
            await DB.SaveChangesAsync();

            var file = Utility.M3U.GetFileInfo(Config, playlist);
            var content = await Library.M3UParser.Create(playlist.Items);
            File.WriteAllText(file.FullName, content.ToString());
        }
        await Load();
    }
    public async void Edited(ModalEventArgs<M3U> args)
    {
        var playlist = args.Model;
        await modal.HideAsync();
        if (playlist != null)
        {
            DB.Attach(playlist);
            await DB.SaveChangesAsync();

            var file = Utility.M3U.GetFileInfo(Config, playlist);
            var content = await Library.M3UParser.Create(playlist.Items);
            File.WriteAllText(file.FullName, content.ToString());
        }
        await Load();
    }
}