@using System.ComponentModel
@inherits IconButtonBase
@attribute [StreamRendering]

@code {

    public enum ButtonColor
    {
        [Description("btn-primary")]
        Primary,
        [Description("btn-secondary")]
        Secondary,
        [Description("btn-success")]
        Success,
        [Description("btn-danger")]
        Danger,
        [Description("btn-warning")]
        Warning,
        [Description("btn-info")]
        Info,
        [Description("btn-light")]
        Light,
        [Description("btn-dark")]
        Dark,
    }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ButtonColor Color { get; set; } = ButtonColor.Primary;
}

<button type="button" class=@($"form-control btn {Color.AsString(EnumFormat.Description)} btn-icon")
        disabled=@Disabled @onclick=@((e)=>OnClick.InvokeAsync())>
    @if (ChildContent != null)
    {
        @ChildContent
    }
</button>
