@using System.ComponentModel
@inherits IconButtonBase
@attribute [StreamRendering]

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ButtonColor Color { get; set; } = ButtonColor.Primary;
}

<button type="button" class=@($"form-control btn {Color.AsString(EnumFormat.Description)} btn-icon @Class")
        disabled=@Disabled @onclick=@((e)=>OnClick.InvokeAsync())>
    @if (ChildContent != null)
    {
        @ChildContent
    }
</button>
